#hwrap {
	width: 100%;
}

.header h1, .header h2, .header h3, .header h4, .header h5, .header h6 {
	font-family: OrbitronMedium;
	margin: 0px auto;
	overflow: hidden;
}

.header h1 {
	font-size: 8.8em;
	margin-bottom: -0.6em;
}

.header h2 {
	font-size: 15.9em;
	margin-bottom: -0.6em;
}

.header h3 {
	font-size: 22em;
	margin-bottom: -0.4em;
}

.header h3 a {
	text-decoration: none;
	color: blue;
}

.header h3 a:visited {
	color: blue;
}