a:link, a:visited {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: Helvetica, Georgia, sans-serif;
}

#mathphreak {
	background-color: white;
	font-family: OrbitronBlack;
	color: black;
	width: 140px;
}