a:link, a:visited {
	text-decoration: none;
	color: blue;
}

a:visited {
	color: purple;
}

#sidebar a:visited {
	color: blue;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: Helvetica, Georgia, sans-serif;
}

#mathphreak {
	background-color: white;
	color: black;
}

.orbitron {
	font-family: OrbitronMedium;
}

div.chunk {
	background-color: #CCC;
	color: black;
	padding: 15px;
	border-radius: 15px;
}

div.chunk.grid_4 {
	width: 270px;
}

div.chunk.grid_6 {
	width: 430px;
}

.visuallybold {
	font-weight: bold;
}