body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #444;
}

h1, h2, h3 {
  line-height: 1.2;
}

#headbar {
  border-bottom: 1px solid gray;
}

#container {
  max-width: 50em;
  margin: 0px auto;
}

#sidebar {
  width: 30%;
  display: block;
  float: left;
}

#sidebar ul {
  margin: 0;
}

#post {
  width: 70%;
  display: block;
  margin-left: 30%;
}
