<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="jquery-1.5.min.js"></script>
<style>
#sidebar {
	float: left;
}
</style>
<title>{{ page.title }} &lt; mathphreak</title>
<script type="text/javascript">
$(function() {
	$("#sidebar dt").mouseenter(function(e) {
		$("#" + $(e.srcElement).data("desc-id")).slideDown();
	}).mouseout(function(e) {
		$("#" + $(e.srcElement).data("desc-id")).slideUp();
	});
	$("dd").show();
	$("#sidebar").width($("#sidebar").width());
	$("dd").hide();
});
</script>
</head>
<body>
<div id="sidebar">
<p>My (Presentable) Projects:</p>
<dl>
<dt><a href="http://mathphreak.github.com/VCRI/" data-desc-id="desc-1">VCRI</a></dt>
<dd id="desc-1">Various Canvas Rider improvements.</dd>
<dt><a href="http://mathphreak.github.com/Huey-s-Apprentice" data-desc-id="desc0">Huey's Apprentice</a></dt>
<dd id="desc0">A text-based interactive fiction game.</dd>
<dt><a href="http://github.com/mathphreak/Arduinochet" data-desc-id="desc1">Arduinochet</a></dt>
<dd id="desc1">An Arduino-controlled trebuchet.</dd>
<dt><a href="http://acts202.sourceforge.net" data-desc-id="desc2">Acts 20:2</a></dt>
<dd id="desc2">A Bible verse popup program.</dd>
<dt><a href="http://sourceforge.net/projects/genericnuisance" data-desc-id="desc3">Generic Nuisance</a></dt>
<dd id="desc3">A periodic popup program.</dd>
<dt><a href="http://github.com/mathphreak/BigThing" data-desc-id="desc4">Big Thing</a></dt>
<dd id="desc4">An Android app I find hard to explain.</dd>
<dt><a href="http://github.com/mathphreak/MYGP" data-desc-id="desc5">MYGP</a></dt>
<dd id="desc5">An IB MYP grading program.</dd>
<dt><a href="/new.html" data-desc-id="desc6">Whatever you ask for</a></dt>
<dd id="desc6">(in my less-than-abundant free time.)</dd>
</dl>
</div>
<div id="content">
<h2>{{ page.contenttitle }}</h2>
{{ content }}
</div>
</body>
</html>
