<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/text.css">
<link rel="stylesheet" href="/css/960.css">
<script type="text/javascript" src="/js/jquery-1.5.min.js"></script>
<link rel="stylesheet" href="/css/orbitron/style.css">
<link rel="stylesheet" href="/css/style.css">
<script type="text/javascript" src="/js/script.js"></script>
<title>{{ page.title }} &lt; mathphreak</title>
</head>
<body>
<div class='container_12'>
	<a class="grid_2 clearfix pull_1" href="/"><span id='mathphreak'>mathphreak</span></a><br />
	<div id="sidebar" class='grid_2 push_1 clearfix'>
		<a href="/software">Software</a><br />
		<a href="http://mathphreak.bandcamp.com">Music</a><br />
		<a href="/reviews">Reviews</a>
	</div> <!-- sidebar -->
	<div id="content" class='grid_8 push_4'>
		{{ content }}
	</div> <!-- content -->
</div> <!-- container_12 -->
</body>
</html>
