<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/text.css">
<link rel="stylesheet" href="/css/960.css">
<script type="text/javascript" src="/js/jquery-1.5.min.js"></script>
<link rel="stylesheet" href="/css/orbitron/style.css">
<link rel="stylesheet" href="/css/style.css">
<script type="text/javascript" src="/js/script.js"></script>
<title>{{ page.title }} &lt; mathphreak</title>
</head>
<body>
<div class='container_12'>
	<a class="grid_2" href="/" id="mathphreak">mathphreak</a>
	<div id="sidebar" class='grid_2 push_1'>
		<a href="/software" class='clearfix'>Software</a>
		<a href="http://mathphreak.bandcamp.com" class='clearfix'>Music</a>
		<a href="/reviews" class='clearfix'>Reviews</a>
	</div> <!-- sidebar -->
	<div id="content" class='grid_8 push_4'>
		<h2>{{ page.contenttitle }}</h2>
		{{ content }}
	</div> <!-- content -->
</div> <!-- container_12 -->
</body>
</html>
