<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="/jplayer/skin/jplayer.blue.monday.css" rel="stylesheet" />
<script type="text/javascript" src="/jquery-1.5.min.js"></script>
<script type="text/javascript" src="/jplayer/jquery.jplayer.min.js"></script>
<style>
#sidebar {
	float: left;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: Helvetica, Georgia, sans-serif;
}

#content {
	padding-left: 25px;
}

#mathphreak {
	position: fixed;
	left: 0px;
	top: 0px;
	border: 1px solid black;
	background-color: white;
}

ul, ol {
	padding-left: 12px;
}

div.jp-audio,
div.jp-video {
  /* Edit the font-size to counteract inherited font sizing.
   * Eg. 1.25em = 1 / 0.8em
   */
  font-size:1.25em;
}
</style>
<title>{{ page.songtitle }} &lt; mathphreak</title>
<script type="text/javascript">
var lastTimeout;
var target;

$(function() {
	$("#sidebar dt").mouseenter(function(e) {
		target = e.currentTarget;
		lastTimeout = setTimeout(function() {
			$("#" + $(target).data("desc-id")).slideDown("fast");
			lastTimeout = -1;
		}, 500);
	}).mouseout(function(e) {
		if (lastTimeout == -1) {
			$("#" + $(e.currentTarget).data("desc-id")).slideUp("fast");
		} else {
			clearTimeout(lastTimeout);
		}
	});
	$("dd").show();
	$("#sidebar").width($("#sidebar").width());
	$("#content").css("padding-left", (25 + parseInt($("#sidebar").width())) + "px");
	$("dd").hide();
	$("#jquery_jplayer_1").jPlayer({
		ready: function () {
		  $(this).jPlayer("setMedia", {
			m4a: "{{ page.file }}.m4a",
			mp3: "{{ page.file }}.mp3",
			oga: "{{ page.file }}.ogg"
		  });
		},
		swfPath: "/jplayer",
		supplied: "m4a, mp3, oga"
	});
});
</script>
</head>
<body>
<a href="/" id="mathphreak">I am Mathphreak.</a>
<div id="sidebar">
<p>My Software Projects:</p>
<dl>
<dt data-desc-id="desc-3"><a href="http://mathphreak.github.com/Pecan.js/test/">Pecan.js</a></dt>
<dd id='desc-3'>Saves your scrolling location.</dd>
<dt data-desc-id='desc-2'><a href='http://meta-tourney.sf.net/'>Meta Tourney</a></dt>
<dd id='desc-2'>Web-based tournament manager.</dd>
<dt data-desc-id="desc-1"><a href="http://mathphreak.github.com/VCRI/">VCRI</a></dt>
<dd id="desc-1">Various Canvas Rider improvements.</dd>
<dt data-desc-id="desc0"><a href="http://mathphreak.github.com/Huey-s-Apprentice">Huey's Apprentice</a></dt>
<dd id="desc0">A text-based interactive fiction game.</dd>
<dt data-desc-id="desc1"><a href="http://github.com/mathphreak/Arduinochet">Arduinochet</a></dt>
<dd id="desc1">An Arduino-controlled trebuchet.</dd>
<dt data-desc-id="desc2"><a href="http://acts202.sourceforge.net">Acts 20:2</a></dt>
<dd id="desc2">A Bible verse popup program.</dd>
<dt data-desc-id="desc3"><a href="http://sourceforge.net/projects/genericnuisance">Generic Nuisance</a></dt>
<dd id="desc3">A periodic popup program.</dd>
<dt data-desc-id="desc4"><a href="http://github.com/mathphreak/BigThing">Big Thing</a></dt>
<dd id="desc4">An Android app I find hard to explain.</dd>
<dt data-desc-id="desc5"><a href="http://github.com/mathphreak/MYGP">MYGP</a></dt>
<dd id="desc5">An IB MYP grading program.</dd>
<dt data-desc-id="desc6"><a href="/new.html">Whatever you ask for</a></dt>
<dd id="desc6">(in my less-than-abundant free time.)</dd>
</dl>
<p>My Miscellaneous Projects:</p>
<dl>
<dt data-desc-id="desc7"><a href="/music">mathphreak music</a></dt>
<dd id='desc7'>Techno.  That's all there is to say.</dd>
</dl>
</div>
<div id="content">
	<h2>{{ page.songtitle }}</h2>
	<div id="jquery_jplayer_1" class="jp-jplayer"></div>
	<div class="jp-audio">
		<div class="jp-type-single">
			<div id="jp_interface_1" class="jp-interface">
				<ul class="jp-controls">
					<li><a href="#" class="jp-play" tabindex="1">play</a></li>
					<li><a href="#" class="jp-pause" tabindex="1">pause</a></li>
					<li><a href="#" class="jp-stop" tabindex="1">stop</a></li>
					<li><a href="#" class="jp-mute" tabindex="1">mute</a></li>
					<li><a href="#" class="jp-unmute" tabindex="1">unmute</a></li>
				</ul>
				<div class="jp-progress">
				<div class="jp-seek-bar">
				<div class="jp-play-bar"></div>
			</div>
		</div>
		<div class="jp-volume-bar">
			<div class="jp-volume-bar-value"></div>
		</div>
		<div class="jp-current-time"></div>
		<div class="jp-duration"></div>
	</div>
	<div id="jp_playlist_1" class="jp-playlist">
		<ul>
		<li>{{ page.songtitle }}</li>
		</ul>
	</div>
	{{ content }}
	<hr />
	<p>I don't recommend downloading this song from where I created it, as it won't have critical metadata like song titles.  Download it <a href="{{ page.file }}.mp3">from here</a> instead to make sure you get the metadata.</p>
</div>
<footer>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Sound" property="dct:title" rel="dct:type">{{ page.songtitle }}</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://mathphreak.github.com" property="cc:attributionName" rel="cc:attributionURL">mathphreak</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="{{ page.file }}.mp3" rel="dct:source">{{ page.file }}.mp3</a>.
</footer>
</body>
</html>
