<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/text.css">
<link rel="stylesheet" href="/css/960.css">
{% if page.scripts %}
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/underscore.js"></script>
<script type="text/javascript" src="/js/backbone.js"></script>
<script type="text/javascript" src="/js/spin.js"></script>
<script type="text/javascript" src="/easyXDM/easyXDM.debug.js"></script>
{% endif %}
<link rel="stylesheet" href="/css/orbitron/style.css">
<link rel="stylesheet" href="/css/style.css">
<script type="text/javascript" src="/js/script.js"></script>
<title>{{ page.title }} &lt; mathphreak</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27093836-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div class='container_12'>
	<a class="grid_2" href="/" id='mathphreak'><img src="/mathphreak{% if page.title == null %} large{% endif %}.png"></a>
	<div class='clear'></div>
	<div id="sidebar" class='grid_2'>
		<a href="/software">Software</a><br />
		<a href="http://mathphreak.bandcamp.com">Music</a><br />
		<a href="/reviews">Reviews</a><br />
		<a href="/misc">Other Stuff</a>
	</div> <!-- sidebar -->
	<div id="content" class="grid_10 chunk">
		{{ content }}
	</div> <!-- content -->
</div> <!-- container_12 -->
</body>
</html>
